discord.py
pyyaml
psycopg2
spacy
https://github.com/explosion/spacy-models/releases/download/xx_sent_ud_sm-3.4.0/xx_sent_ud_sm-3.4.0.tar.gz
git+https://github.com/SingularChatelet/chatterbot-corpus.git
git+https://github.com/PolinaBalanyeva/ChatterBot.git